{% for message in app.flashes('info') %}
    <div class="notification is-info is-light">
        <button class="delete"></button>
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('warning') %}
    <div class="notification is-warning is-light">
        <button class="delete"></button>
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="notification is-danger is-light">
        <button class="delete"></button>
        {{ message }}
    </div>
{% endfor %}