{% extends 'base.html.twig' %}

{% block title %}Édition d'une unité d'enseignement{% endblock %}

{% block body %}
<div class="container">

    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Administration</a></li>
            <li><a href="{{ path('app_ue_index') }}">UE</a></li>
            <li class="is-active"><a href="#" aria-current="page">Édition</a></li>
        </ul>
    </nav>

    <div class="is-flex is-justify-content-space-between">
        <h1 class="title">
            Édition d'une unité d'enseignement
        </h1> 
        {{ include('ue/_delete_form.html.twig') }}
    </div>

    {{ include('ue/_form.html.twig', {'button_label': 'Editer'}) }}

</div>
{% endblock %}
